@media screen and (max-width: 850px)         
    .contenedor
        .menu
            ul
                display: none
                li
                    a
                        font-size: 8vw
                        font-weight: 600
                        
            label
                font-size: 40px
                margin: 5px 20px
                display: block
            input
                
                &:checked ~ ul
                    list-style: none
                    display: block
                    margin: 0 auto
        #principal
            .contenidoInicio
                .nombres
                    font-size: 10vw
                .oficio 
                    font-size: 4vw
        #sobreMi
            .contenidoSobreMi
                .infoMia
                    width: 90%
                    min-width: none
                    max-width: none
                    p
                        font-size: 4vw
        #proyectos
            .titleProyectos
                font-size: 9vw
        #habilidades
            h1
                font-size: 9vw
            a
                font-size: 4vw
                width: 50%
        #contacto
            width: 100%
            h1
                font-size: 9vw
            .contact
                margin: 0
                .contactame
                    margin: auto
                    h2
                        font-size: 5vw
                .formulario
                    width: 90%
                    margin: auto
                    .datos
                        margin: auto
                        div
                            width: 100%

@media screen and (max-width: 450px)
    .contenedor
        #habilidades
            .contenedorHabilidades
                .habilidad
                    img
                        width: 70%

        #contacto
            h1
                font-size: 12vw
            .contact
                .contactame
                    width: 90%
                    h2
                        font-size: 8vw
                    p
                        font-size: 5vw
                    .formulario
                        width: 90%
                        margin: auto
                        .datos
                            margin: 0
                            div
                                width: 100%